body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}

.profile-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  height: auto;

}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
  padding: 20px;
  justify-content: space-between;
}
.profile-picture {
  border-radius: 10%;
  width: 200px;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

p {
  font-size: 13px;
  color: #6c6a6a;
  display: flex;
  align-items: start;
  text-align: start;
  line-height: 16px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}
.location {
  margin: 5px 0;
}
.social-links{
  display: flex;
  flex-wrap: wrap;
}
.social-links a,
.email a {
  display: flex;
  margin: 5px;
  text-decoration: none;
  background: #3c6948;
  padding: 6px 8px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #28ec5d;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.social-links a:hover,
.email:hover {
  color: #28ec5d;
  background-color: transparent;
}

.utc-time {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

@media (max-width: 800px) {
  p{
   max-width: 300px;
  }
}

@media (max-width: 480px) {
  .profile-card {
    width: 100%; /* Uses full width for smaller screens */
    padding: 15px;
    align-items: center;
    justify-content: center;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .social-links a {
    font-size: 13px;
    padding: 3px 6px;
  }
}